.contact {
    padding: 5px;
    color: darkblue;
    border: 5px none;
    flex: 0 0 59%;
    background-color: lightgray;
}

.copyright {
    padding: 5px;
    color: darkblue;
    border: 5px none;
    flex: 0 0 38%;
    background-color: lightgrey;
}

html {
    color: #222222;
    font-size: 1em;
    line-height: 1.4;
}

.main-container {
    padding: 10px;
    color: black;
    border: 5px solid black;
}

.navbar {
    padding: 5px;
    color: darkblue;
    border: 5px solid black;
    background-color: lightblue;
}

.container-2 {
    padding: 5px;
    color: white;
    border: 5px blue;
    display: flex;
    background-color: lightblue;
}

.container-3 {
    padding: 5px;
    color: darkblue;
    border: 5px dotted black;
    background-color: lightgoldenrodyellow;
}


.user-photo {
    padding: 5px;
    border: 5px solid darkblue;
    flex: 0 0 34%;
}

.skills {
    padding: 5px;
    border: 5px solid darkblue;
    flex: 0 0 63%;
}

.work-item-large img {
    width: 500px;
}

.work-item-small img {
    width: 150px;
}

.sub-container-3 {
    padding: 5px;
    color: darkblue;
    border: 5px solid black;
}

.container {
    padding: 10px;
    border: black;
    display: flex;
    justify-content: space-around; /* This spreads out the boxes evenly */
}

.box {
    /* Style your boxes (e.g., width, height, background, etc.) */
    width: 100px; /* Example width */
    height: 100px; /* Example height */
    background-color: lightblue; /* Example background color */
    text-align: center; /* Centering text inside the box */
    line-height: 100px; /* Aligning text vertically */
}

.non-hero-projects {
    padding: 5px;
    color: blue;
    border: 5px solid black;
}

.footer {
    padding: 5px;
    color: darkblue;
    border: 5px solid black;
    display: flex;
}

@media screen and (max-width: 600px) and (max-width: 1200px) {
    body,
    .work-item, .work-item.large {
        flex-basis: 100%;
    }
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

